.icon1 {
    background: url(../images/bottom_icon1.jpg);
 }
 .icon2 {
    background: url(../images/bottom_icon2.jpg);
 }
 .icon3 {
    background: url(../images/bottom_icon3.jpg);
 }
 .icon4 {
    background: url(../images/bottom_icon4.jpg);
 }
 .icon5 {
    background: url(../images/bottom_icon5.jpg);
 }
 