.w {
    width: 1200px;
    margin: 0 auto;
}
header {
    height: 84px;
    border-bottom: 2px solid #c81523;
}
.logo {
    margin-top: 18px;
}
.registerer {
    height: 522px;
    border: 1px solid #ccc;
    margin-top: 20px;
}
.registerer h3 {
    height: 42px;
    border-bottom: 1px solid #ccc;
    background-color: #ececec;
    line-height: 42px;
    padding: 0 10px;
    font-size: 18px;
    font-weight: 400;
}
.login {
    float: right;
    font-style: 14px;
}
.login a {
    color: #c81523;
}
.reg_form {
    width: 600px;
    margin: 50px  auto 0;
}
.reg_form ul li {
    margin-bottom: 20px;

}
.reg_form ul li label {
    display: inline-block;
    width: 88px;
    text-align: right;
}
.reg_form ul li .inp {
    width: 242px;
    height: 37px;
    border: 1px solid #ccc;
}
.error {
    color: #c81523;
}
.success {
    color: green;
}
.safe {
    padding-left: 175px;
}
.safe em {
    padding:  0 12px;
    color: #fff;
}
.ruo {
    background-color: #de1111;
}
.hong {
    background-color: #40b83f;
}
.ian {
    background-color: #f79100;
}
.agree {
    padding-left: 100px;
}
.agree input {
    vertical-align: middle;
}
.agree a {
    color: #1ba1e6;
}
.btn {
    width: 200px;
    height: 34px;
    background-color: #c81623;
    font-size: 14px;
    color: #fff;
    margin: 30px 0 0 70px ;
}
.mod_help {
    padding-top: 20px;
    height: 185px;
    border-bottom: 1px solid #ccc;
    padding-left: 50px;
}

.mod_copyright {
    text-align: center;
    padding-top: 20px;
}
.links {
    padding-bottom: 10px;
}
.copyright {
    line-height: 15px;
}